{% extends "./board_layout.html" %}
{% load bootstrap4 %}
{% block board_navbar %}
<div class="col-4 p-0">
    <div class="header-title">자유게시판</div>
    <div class="header-count">1,000개의 글</div>
</div>
{% endblock %}
{% block board_content %}
<form action="{% url 'community:board_create' %}" method="POST" >
    {%csrf_token%}
    <table>
        {{ form.media }}    
        제목 : {{ form.title }} <br><br>
        {{ form.content }}
    </table> 

    <input type="submit" value="글작성">
</form>
{% endblock %}
