{% extends './board_layout.html' %}
{% load bootstrap4 %}

            {% block board_navbar %}
            <div class="col-4 p-0">
                <div class="header-title">자유게시판</div>
                <div class="header-count">1,000개의 글</div>
            </div>
            <form class="d-flex col-4 h-75 p-0 align-self-end" method="GET" action="{% url 'community:search' %}">
                {% csrf_token %}
                <input type='text' name='search_key' class="w-100 col-8" value="{{ search_key }}" placeholder='Search' />
                <input type='submit' class="w-100 col-4" value="Search" />
            </form>
            {% endblock %}

            {% block board_content %}
            <div class="board-title col-md-12">
                <p class="col-6 align-self-center">제목</p>
                <div class="d-flex col-6 p-0">
                    <p class="col-3 align-self-center">작성자</p>
                    <p class="col-3 align-self-center">작성일</p>
                    <p class="col-3 align-self-center">좋아요</p>
                    <p class="col-3 align-self-center">조회수</p>
                </div>
            </div>
                {% for board in page_obj.object_list %}
                <div class="board-content-container" style="border-bottom: 1px solid #EEEEEE;">
                    <p class="col-md-6"><a href="{%url 'community:board_detail' board.id%}" class="text-dark">{{ board.title }}</a></p>
                    <div class="board-info col-md-6 p-0">
                        <p class="col-md-3">{{ board.user }} </p>
                        <p class="col-md-3">{{ board.created_at | date:"Y-m-d" }}</p>
                        <p class="col-md-3">{{ board.like.count }}</p>
                        <p class="col-md-3">{{ board.hits }}</p>
                    </div>
                </div>
                {%endfor%}
            {% endblock %}
