{% extends "./board_layout.html" %}
{% load bootstrap4 %}

{% block board_content %}
<div class="community-board col-xl-7 col-md-7 col-11 mb-4">
    <div class="board-header d-flex justify-content-between pb-2">
        <div class="col-4 p-0">
            <div class="board-header-title">자유게시판</div>
        </div>
    </div>
    <div class="board-create-content mb-3">
        <form action="{% url 'community:board_create' %}" method="POST" class="board-form" >
            {%csrf_token%}
            <div class="mb-3">
                {{ form.media }}    
                {{ form.title }}
                {{ form.content }}
            </div> 
            <div class="board-submit-box">
                <input class="board-submit" type="submit" value="글작성" style="border: 0;outline: 0;">
            </div>
        </form>
    </div>
</div>
{% endblock %}


