{% extends "./board_layout.html" %}
{% load bootstrap4 %}

{% block board_content %}
<div class="community-board col-xl-6 col-md-6 col-xs-12 mb-4">
    <div class="board-header d-flex justify-content-between pb-3">
        <div class="col-4 p-0">
            <div class="board-header-title">자유게시판</div>
        </div>
    </div>
    <div class="board-create-content mb-3">
        <form action="{% url 'community:board_create' %}" method="POST" >
            {%csrf_token%}
            <div>
                {{ form.media }}    
                {{ form.title }}
                {{ form.content }}
            </div> 
            <input class="board-submit text-light" type="submit" value="글작성" style="border: 0;outline: 0;">
        </form>
    </div>
</div>
<script>
    CKEDITOR.replace('cke_id_content',{
        width:100%
    });
</script>
{% endblock %}


