
{% extends "./board_layout.html" %}
{% load bootstrap4 %}

{% block board_navbar %}
{% endblock %}

{% block board_content %}
    {% for magazine in page_obj.object_list %}
    <div>
        <img src="{{ magazine.img.url }}" style="width: 450px;"><br>
        <h5><a href="{%url 'community:magazine_detail' magazine.id%}">{{ magazine.title }}</a></h5>
        {{ magazine.intro }} <br>
        {{ magazine.created_at | date:"Y/m/d" }} <br>
        조회수 : {{ magazine.hits }} <br>
    </div>
    {%endfor%}
    
{% endblock %}

{% block board_paginator %}
<div class="board-paginator">
    {% if page_obj.has_previous %}
    <a href="?page=1" class="text-dark">처음으로</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="text-dark">&lt&lt</a>
    {% endif %}

    <span class="current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>
    <!-- {% for page_num in boards.paginator.page_range %}
                    <a href="?page=1">{{page_num}}</a>
                {% endfor %} -->

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="text-dark">&gt&gt</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="text-dark">맨뒤로</a>
    {% endif %}
</div>
{% endblock %}