{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<nav class="main-navbar navbar navbar-expand-lg navbar-light col-7">
    <ul class="navbar-nav mr-auto">
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'community:notice' %}" style="padding-left: 0 !important;">공지사항</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'community:magazine' %}">매거진</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'community:board' %}">자유게시판</a>
        </li>
    </ul>
    <form method="GET" action="{% url 'services:search' %}">
        {% csrf_token %}
        <div class="main-search">
            <div class="main-search-icon">
                <i class="search fa fa-search"></i>
            </div>
            <div class="main-search-input">
                <input type="text" placeholder="서비스 검색" id="main-search-input" name='search_key' value="{{ search_key }}">
                
            </div>
            
        </div>
    </form>
</nav>
<!--------------------------------------------------------------------->
<h3 class="magazine-header col-7">
    매거진
</h3>

{% for magazine in page_obj.object_list %}
<div class="magazine-box col-7">
    <a href="{%url 'community:magazine_detail' magazine.id%}"><img src="{{ magazine.img.url }}"></a>
</div>
{%endfor%}

<div class="board-paginator">
    {% if page_obj.has_previous %}
    <a href="?page=1" class="text-dark">처음으로</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="text-dark">&lt&lt</a>
    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}
        {% if page_number >= page_obj.number|add:-4 and page_number <= page_obj.number|add:4 %} 
            {% if page_number is page_obj.number %} 
            <li class="page-item active" aria-current="page">
                <a class="text-dark" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="text-dark" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <!-- <li>...{{ page_obj.paginator.num_pages }}</li> -->
    <a href="?page={{ page_obj.next_page_number }}" class="text-dark">&gt&gt</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="text-dark">맨뒤로</a>
    {% endif %}
</div>


<script>
    let search = document.querySelector(".search");
    let clearh = document.querySelector(".clear");

    search.onclick = function(){
        document.querySelector(".main-search").classList.toggle('active');
    }
</script>
{% endblock %}