{% extends "./board_layout.html" %}
{% load bootstrap4 %}

{% block board_navbar %}
<div class="col-4 p-0">
    <div class="header-title">매거진</div>
    <div class="header-count">1,000개의 글</div>
</div>
{% endblock %}

{% block board_content %}
<p style="display:none">{{ magazine.update_counter }}</p>

<h3>{{ magazine.title }}</h3>
조회수 : {{ magazine.hits }} <br>
<hr>
<img src="{{ magazine.img.url }}" style="width: 450px;"> <br>
{{ magazine.intro }} <br>
<!--한줄소개-->
{{ magazine.content }} <br>
<!--내용-->
작성일: {{ magazine.created_at | date:"Y/m/d" }} <br>
<hr>
<a href="{%url 'community:magazine'%}">목록으로 돌아가기</a>

{% endblock %}