
{% extends "./board_layout.html" %}
{% load bootstrap4 %}

{% block board_content %}
<div class="community-board col-xl-7 col-md-7 col-10 mb-4">
    <!-- <div class="board-header d-flex justify-content-between pb-3">
        <div class="col-4 p-0">
        <div class="board-header-title">공지사항</div>
        </div>
    </div> -->
    <div class="board-detail-container mb-3">
        <p style="display:none">{{ notice.update_counter }}</p>
        
        <!--제목-->
        <div class="detail-first-box p-1">
            <span class="detail-board-title">{{notice.title}}</span>
            <span class="detail-board-date">{{ notice.created_at | date:"Y/m/d" }}</span>
        </div>
        <div class="detail-second-box p-2">
            <div class="detail-box-user">
                <div class="detail-profile">
                    <i class="fas fa-user-cog w-100"></i>
                </div>
                <span>관리자</span>
            </div>
            <div class="detail-box-hits">
                <span class="mr-2">조회수 {{ notice.hits }}</span>
                <!-- <a href=""><i class="fas fa-ellipsis-v"></i></a> -->
            </div>
        </div>
        <!--사진-->
        {% if notice.img %}
        <img src="{{ notice.img.url }}" style="width: 450px;">
        {% endif %}
        
        <!--내용-->
        <div class="detail-box-content">
            {{ notice.content | safe }}
        </div>
        <div class="board-submit-box">
            <div class="board-button col-md-2 ml-0" style="text-align: center;">
                <a href="{%url 'community:notice'%}" class="w-100 d-block">목록으로 </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}