{% extends './board_layout.html' %}

{% block board_navbar %}
<div class="col-4 p-0">
    <div class="header-title">'{{ query }}' 검색 결과입니다.</div>
    <div class="header-count">1,000개의 글</div>
</div>
{% endblock %}

{% block board_content %}

<div class="album py-5 bg-light" >
    <div class="container"> 
        <!--공지사항 검색결과-->
        <p>공지사항</p> 
        {% if notice_results %}
            {% for notice in notice_results  %}
            <a href="{% url 'community:notice_detail' notice.id %}"> 
                <div class="col">
                    <div class='card'>
                        <div class='card-img-top'>
                            {% if notice.img %}
                                <img src="{{ notice.img.url }}" width='250px' />
                            {% endif %}
                        </div>
                        <div class='card-body'>
                            제목 : {{ notice.title }} <hr>
                            글내용 : {{ notice.content |truncatechars:30 }}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %} 
            {% if query %}
                <tr class="text-center">
                    <td style="font-weight: bold; color:gray;" colspan="5">
                            &nbsp;일치하는 검색 결과가 없습니다.
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                <td style="font-weight: bold; color:gray;" colspan="5">
                        &nbsp;작성된 게시글이 없습니다.
                    </td>
                </tr>
            {% endif %}    
        {% endif %}   
        <br>
        <hr>
        <!--매거진 검색결과-->
        <p>매거진</p>
        {% if magazine_results %}
            {% for magazine in magazine_results  %}
                <a href="{% url 'community:magazine_detail' magazine.id %}"> 
                    <div class="col">
                        <div class='card'>
                            <div class='card-img-top'>
                                {% if magazine.img %}
                                    <img src="{{ magazine.img.url }}" width='250px' />
                                {% endif %}
                            </div>
                            <div class='card-body'>
                                제목 : {{ magazine.title }} <hr>
                                한줄소개 : {{ magazine.intro }}
                            </div>
                        </div>
                    </div>
                
                </a>
                {% endfor %}
        {% else %}            
            {% if query %}
                <tr class="text-center">
                    <td style="font-weight: bold; color:gray;" colspan="5">
                            &nbsp;일치하는 검색 결과가 없습니다.
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                <td style="font-weight: bold; color:gray;" colspan="5">
                        &nbsp;작성된 게시글이 없습니다.
                    </td>
                </tr>
            {% endif %}     
        {% endif %} 
        <br>  
        <hr>
        <!--자유게시판 검색결과-->
        <p>자유게시판</p>
        {% if board_results %}
            {% for board in board_results  %}
                <a href="{% url 'community:board_detail' board.id %}"> 
                    <div class="col">
                        <div class='card'>
                            <div class='card-img-top'>
                            {% if board.img %}
                                <img src="{{ board.img.url }}" width='250px' />
                            {% endif %}
                            </div>
                            <div class='card-body'>
                                제목 : {{ board.title }}<hr>
                                글내용 : {{ board.content |truncatechars:30 }}
                            </div>
                        </div>
                    </div>                
                </a>
                {% endfor %}
        {% else %} 
            {% if query %}
                <tr class="text-center">
                    <td style="font-weight: bold; color:gray;" colspan="5">
                            &nbsp;일치하는 검색 결과가 없습니다.
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                <td style="font-weight: bold; color:gray;" colspan="5">
                        &nbsp;작성된 게시글이 없습니다.
                    </td>
                </tr>
            {% endif %}  
        {% endif %} 
        <br>
        <hr>
    </div>

</div>

{% endblock %}
