{% extends 'base.html' %}
{% load taggit_templatetags2_tags %}

{% block content %}
<nav class="main-navbar navbar navbar-expand-lg navbar-light col-7">
    <ul class="navbar-nav mr-auto">
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{%url 'users:update' request.user.id %}"
                style="padding-left: 0 !important;">마이페이지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{%url 'users:dibs_list'%}">내가 찜한 서비스</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{%url 'users:reviews_list'%}">내가 쓴 리뷰</a>
        </li>
    </ul>
</nav>

<div class="dibs-list-container col-lg-7 col-md-10 col-sm-12">
    <h3>내가 쓴 리뷰</h3>
    <hr>
    <div class="">
        {% if reviews %}
        {% for review in reviews %}
        <div class="my-review-box">
            <!-- <div class="my-review-first-section col-4">
                <div>서비스 이름: {{review.target.name}}</div>
                {% if review.target.img1 %}
                <a href="{% url 'services:services_detail' pk=review.target.id %}"
                class="my-review-img">
                    <img src="{{ review.target.img1.url }}" />
                </a>
                {% endif %}
            </div> -->
            <div class="my-review-first-section col-lg-4">
                <!-- <div>서비스 이름: {{review.target.name}}</div> -->
                {% if review.target.img1 %}
                <a href="{% url 'services:services_detail' pk=review.target.id %}" class="my-review-target-img">
                    <img src="{{ review.target.img1.url }}" />
                </a>
                {% endif %}
                <span class="my-review-title">{{review.target.name}}</span>
                <span class="my-review-content">{{review.target.intro}}</span>
            </div>
            <div class="my-review-second-section col-xl-8 col-12">
                <div class="my-review-content">
                    <div class="my-review-score">
                        <span>{{review.updated_at| date:"Y/m/d"}} | {{review.period}}개월 사용</span>
                    </div>
                    <span class="star">
                        <i class="fas fa-star" style="color: #ffcd3c;"></i>
                        <i class="fas fa-star" style="color: #ffcd3c;"></i>
                        <i class="fas fa-star" style="color: #ffcd3c;"></i>
                        <i class="fas fa-star" style="color: #ffcd3c;"></i>
                        <i class="fas fa-star" style="color: #ffcd3c;"></i>
                    </span>
                    <!-- 내가 쓴 리뷰의 평점 -->
                    <span>{{review.score}}</span>
                    <!-- 내가 쓴 리뷰의 "도움이 돼요"를 받은 수 -->
                    <span>{{review.reviews_help.count}}</span>                    
                    
                </div>
                    {% if review.photo %}
                    <a href="{% url 'services:services_detail' pk=review.target.id %}"
                    class="my-review-img">
                        <img src="{{ review.photo.url }}" />
                    </a>
                    {% endif %}
                <span class="my-review-title">{{review.title}}</span>
                <span class="my-review-content">{{review.content}}</span>
                
            </div>
        </div>
        {% endfor %}
        {% else %}

        <div class="col-12" style="margin: 2rem auto 20rem auto; text-align: center; font-size: 0.8rem;">
            <tr style="text-align: center;">
                <td style="font-weight: bold; color:gray;" colspan="5">
                    작성한 리뷰가 없습니다.
                </td>
            </tr>
        </div>

        {% endif %}
    </div>
</div>

<div class="board-paginator">
    {% if services.has_previous %}
    <a href="?page=1" class="text-dark">처음으로</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="text-dark">&lt&lt</a>
    {% endif %}

    {% for page_number in services.paginator.page_range %}
        {% if page_number >= services.number|add:-4 and page_number <= services.number|add:4 %} 
            {% if page_number is services.number %} 
            <li class="page-item active" aria-current="page">
            <a class="text-dark" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="text-dark" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if services.has_next %}
    <!-- <li>...{{ page_obj.paginator.num_pages }}</li> -->
    <a href="?page={{ services.next_page_number }}" class="text-dark">&gt&gt</a>
    <a href="?page={{ services.paginator.num_pages }}" class="text-dark">맨뒤로</a>
    {% endif %}
</div>

{% endblock %}