{% extends 'base.html' %}
{% load taggit_templatetags2_tags %}

{% block content %}
<nav class="main-navbar navbar navbar-expand-lg navbar-light col-10 col-lg-7">
    <ul class="navbar-nav mr-auto">
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{%url 'users:update' request.user.id %}"
                style="padding-left: 0 !important;">회원정보 변경</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{%url 'users:dibs_list'%}">내가 찜한 서비스</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{%url 'users:reviews_list'%}">내가 쓴 리뷰</a>
        </li>
    </ul>
</nav>

<nav class="main-navbar-2 navbar navbar-expand-lg navbar-light col-10 col-lg-7">
    <ul class="navbar-nav mr-auto">
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'users:update' request.user.id %}" style="padding-left: 0 !important;">회원정보 변경</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'users:dibs_list' %}">내가 찜한 서비스</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'users:reviews_list' %}">내가 쓴 리뷰</a>
      </li>
    </ul>
</nav>

<div class="dibs-list-container col-lg-7 col-md-10 col-11">
    <h3>내가 쓴 리뷰</h3>
    <hr style="border-color: #000;">
    <div class="my-review-box-container">
        {% if reviews %}
            {% for review in reviews %}
            <div class="my-review-box col-10">
                {% if review.photo %}
                <a href="{% url 'services:services_detail' pk=review.target.id %}" class="my-review-img">
                    <img src="{{ review.photo.url }}" />
                </a>
                <div class="my-review-second-section col-9">
                    {% else %}
                    <div class="my-review-second-section col-12"> 
                        {% endif %}
                        <div class="my-review-content-container">
                            <div class="my-review-content">
                                <div class="my-review-target ">
                                    <a href="{% url 'services:services_detail' pk=review.target.id %}" style="color: #000;font-weight: 400;"
                                    class="">{{review.target.name}}</a> 
                                    <span class="">| {{review.period}}개월 사용</span>
                                </div>
                            <!-- <div class="my-review-score">
                                <span>{{review.updated_at| date:"Y/m/d"}} | {{review.period}}개월 사용</span>
                            </div> -->
                                <span class="star" style="min-width:fit-content">
                                    <i class="fas fa-star"></i>
                                    <span>{{review.score}}</span>
                                </span>
                            </div>
                            <span class="my-review-date" style="font-size: 0.9rem;
                                color: #3c3c3c;">{{review.period}}개월 사용</span>
                            <span class="my-review-title">{{review.title}}</span>
                            <span class="my-review-content">{{review.content}}</span>
                        </div>
                    <div class="my-review-likes">
                        <span><i class="far fa-thumbs-up" style="color: #3c3c3c;"></i> {{review.reviews_help.count}}개</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12" style="margin: 2rem auto 20rem auto; text-align: center; font-size: 0.8rem;">
                <tr style="text-align: center;">
                    <td style="font-weight: bold; color:gray;" colspan="5">
                        작성한 리뷰가 없습니다.
                    </td>
                </tr>
            </div>
        {% endif %}
    </div>
</div>

<div class="board-paginator">
    {% if services.has_previous %}
    <a href="?page=1" class="text-dark">처음으로</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="text-dark">&lt&lt</a>
    {% endif %}

    {% for page_number in services.paginator.page_range %}
        {% if page_number >= services.number|add:-4 and page_number <= services.number|add:4 %} 
            {% if page_number is services.number %} 
            <li class="page-item active" aria-current="page">
            <a class="text-dark" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="text-dark" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if services.has_next %}
    <!-- <li>...{{ page_obj.paginator.num_pages }}</li> -->
    <a href="?page={{ services.next_page_number }}" class="text-dark">&gt&gt</a>
    <a href="?page={{ services.paginator.num_pages }}" class="text-dark">맨뒤로</a>
    {% endif %}
</div>

{% endblock %}