{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<style>
    input:focus,
    input[type]:focus,
    .uneditable-input:focus {
      border-color: rgb(131, 131, 131);
      box-shadow: none;
      outline: 0 none;
    }
</style>

<div class="forms text-center col-lg-3 col-md-4 col-sm-6 col-10">
    <div>
        <h4 class="form-logo">
          비밀번호 변경
        </h4>
        <hr style="border-color: #000">
    </div>
    
    <form method="POST" class="update-form" novalidate>
        {% csrf_token %}

        <div style="text-align: start;"> <!--기존 비밀번호-->
            기존 비밀번호
            {{ password_change_form.old_password }}

            <script type="text/javascript">
                if (document.getElementsByName('old_password')[0].value != '') {
                    document.getElementsByName('label_old_password')[0].setAttribute('class', 'active');
                }
            </script>

            {% if password_change_form.old_password.errors %}
                <script type="text/javascript">
                    document.getElementsByName('old_password')[0].setAttribute('class', 'form-control is-invalid')
                </script>
                {% for error in password_change_form.old_password.errors %}
                
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div style="text-align: start;"> <!--새 비밀번호-->
            새 비밀번호
            {{ password_change_form.new_password1 }}
            <small>
                기호, 영어 소문자, 숫자를 혼합하여 8자리 이상 입력해주세요.
            </small>

            <script type="text/javascript">
                if (document.getElementsByName('new_password1')[0].value != '') {
                    document.getElementsByName('label_new_password1')[0].setAttribute('class', 'active');
                }
            </script>

            {% if password_change_form.new_password1.errors %}
                <script type="text/javascript">
                    document.getElementsByName('new_password1')[0].setAttribute('class', 'form-control is-invalid')
                </script>
                {% for error in password_change_form.new_password1.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div style="text-align: start;"> <!--새 비밀번호(확인)-->
            새 비밀번호(확인)
            {{ password_change_form.new_password2 }}
            <small>
                확인을 위해 이전과 동일한 비밀번호를 입력하세요.
            </small>

            <script type="text/javascript">
                if (document.getElementsByName('new_password2')[0].value != '') {
                    document.getElementsByName('label_new_password2')[0].setAttribute('class', 'active');
                }
            </script>

            {% if password_change_form.new_password2.errors %}
                <script type="text/javascript">
                    document.getElementsByName('new_password2')[0].setAttribute('class', 'form-control is-invalid')
                </script>
                {% for error in password_change_form.new_password2.errors %}
                <div style="white-space: nowrap;" class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
            
        </div>



    <div>
        <button type="submit" class="btn btn-dark col-12 mt-4 mb-3" style="padding: 0.6rem 0;">변경</button>
        <a href='/services/main/' class="text-dark">돌아가기</a>
    </div>
    </form>
</div>

{% endblock %}
