{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <nav class="main-navbar navbar navbar-expand-lg navbar-light col-7">
      <ul class="navbar-nav mr-auto">
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{%url 'users:update' request.user.id %}"
            style="padding-left: 0 !important;">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{%url 'users:dibs_list'%}">내가 찜한 서비스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{%url 'users:reviews_list'%}">내가 쓴 리뷰</a>
        </li>
      </ul>
    </nav>
<div class="forms text-center col-lg-3 col-md-4 col-sm-6 col-10">
  <div>
    <h2 class="form-logo">
      회원 정보 변경
    </h2>
  </div>
  <form action="{% url 'users:update' pk=user.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    아이디 <p>{{ form.user_id }}</p> <br>
    이메일 <p>{{ form.email }}</p><br>
    이름 <p>{{ form.name }}</p><br>
    닉네임 <p>{{ form.nickname }}</p><br>
    프로필 사진 <p>{{ form.image }}</p><br>
    성별 <p>{{ form.gender }}</p><br>
    휴대폰 번호 <p>{{ form.phonenum }}</p><br>
   
    <input type="submit" class="btn btn-dark rounded-pill col-8 mt-3" >

  </form>
  <a href="{% url 'users:update_password' %}">
    <p>
      비밀번호 변경
    </p>
  </a>  <a href="{% url 'users:delete' pk=user.pk %}">
    <p>
      회원 탈퇴
    </p>
  </a>
</div>
{% endblock %}