.service-container {
  width: 35vw;
  height: 1000px;
  font-family: "GmarketSansTTFLight";
  /* border: 1px solid rgb(215, 215, 215); */
  margin-top: 13px;
}
.page-menu div {
  width: 100vw;
  text-align: center;
  height: 6vh;
  line-height: 6vh;
  font-size: 2em;
  border: 1px solid rgb(215, 215, 215);
}
.service-name {
  font-size: 5rem;
}
.service-intro,
.service-content {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.img-container {
  width: 60vw;
  height: 40vh;
}
.sub-container {
  width: 25vw;
  height: auto;
}
.sub-img img {
  width: 49.4%;
  height: 100%;
  display: inline;
}
.sub-img {
  padding-left: 15px;
  height: 20vh;
}
.second-img {
  width: 25vw;
  height: 20vh;
  padding: 0px 0px 15px 15px;
}
.main-img {
  width: 35vw;
  height: 40vh;
}

.fixing-box {
  font-family: "KOTRA_SONGEULSSI";
  /* border: 1px solid rgb(215, 215, 215); */
  width: 23.8vw;
  height: auto;
  position: fixed;
  top: 53%;
  right: 20.2%;
  padding: 10px 20px;
}
/* font-size: 1.5em; */
@import url("./reset.css");
@import url("./font.css");

/* .top-header {
  margin: 1rem 0 0 1rem;
} */

.top-header-title {
  font-family: "KOTRA_SONGEULSSI";
  font-size: 2rem;
}

.top-header-links {
  font-family: "GmarketSansTTFLight";
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .top-header-title {
    font-size: 1.5rem;
  }
  .top-header-links,
  .under-nav {
    font-size: 0.8rem;
  }
  .service-container {
    width: 100vw;
  }
  .img-container {
    width: 100vw;
  }
  .fixing-box {
    display: none;
  }
}
.keywords {
  margin: 10px 0px;
}
.keywords div {
  display: inline;
}
.fix-name {
  font-size: 2.3rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.fix-intro,
.fix-stars {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.fix-link {
  text-align: right;
}
.tab-title {
  font-family: "KOTRA_SONGEULSSI";
  font-size: 2rem;
}
