@import url("./reset.css");
@import url("./font.css");

* {
  font-family: 'Noto Sans KR';
  color: #333333;
}

.header-container {
  margin: 10px auto 0 auto;
  padding: 10px 0 !important;
}

.header-title {
  text-decoration: none !important;
  font-family: "GmarketSansTTFMedium";
  font-size: 1.8rem !important;
}

.header-links,
.header-second-links>a {
  font-size: 0.9rem;
}

.user-dropdown {
  position: relative;
}

.user-dropdown .profile {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user-dropdown .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-dropdown .menu {
  position: absolute;
  top: 50px;
  right: -15px;
  height: 55px;
  background: #fff;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(29, 32, 36, 0.15);
  border-radius: 2px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}

.user-dropdown .menu.active {
  top: 50px;
  right: -15px;
  height: 60px;
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.user-dropdown .menu::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -999;
}

.user-dropdown .menu ul li {
  list-style: none;
  padding: 5px 20px 5px 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.user-dropdown .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-size: 0.8rem;
  transition: 0.5s;
}

.user-dropdown .menu ul li:hover a {
  color: #000;
}

.main-navbar {
  margin: 0 auto 30px auto;
  padding: 0 15px 0 0 !important;
}

.main-navbar #navbarDropdown {
  z-index: 5;
  padding-left: 0 !important;
}

.main-navbar .nav-item a {
  padding-left: 30px !important;
}

.main-navbar .dropdown-menu i {
  margin-right: 7px;
}

.main-navbar .dropdown-item {
  font-size: 0.85rem;
}

.main-search {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: rgb(241, 237, 237);
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.main-search.active {
  width: 150px;
}

.main-search-icon {
  position: absolute;
  left: 18px;
  top: 45%;
  transform: translate(-50%, -50%);
}

.main-search .search {
  font-size: 0.7rem;
  cursor: pointer;
  color: #444;
}

.main-search-input {
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search-input input {
  position: absolute;
  bottom: 13px;
  right: 12px;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0.9rem;
  outline: none;
  background-color: rgb(241, 237, 237);
}

.main-carousel {
  margin-bottom: 80px;
}

.main-carousel-item {
  width: 100%;
  height: 100%;
}

.main-carousel-item img {
  width: 100%;
  height: auto;
}

.main-carousel-control {
  position: relative;
  top: 50% !important;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 70px !important;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(194, 192, 192);
}

.main-carousel-control.carousel-control-prev {
  left: 10% !important;
}

.main-carousel-control.carousel-control-next {
  right: 10% !important;
}

.nav-link.btn {
  background-color: white !important;
  color: inherit !important;
}

.btn-primary.btn {
  color: white !important;
  border-color: rgb(203, 105, 228) !important;
  background-color: rgb(203, 105, 228) !important;
}

.btn-primary.btn:active,
.btn-primary.btn:hover,
.btn-primary.btn:focus {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2) !important;
}

.fix-name {
  font-size: 2.3rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.fix-intro,
.fix-stars {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.nav-link.btn:active,
.nav-link.btn:hover,
.nav-link.btn:focus {
  color: white !important;
  background-color: rgb(203, 105, 228) !important;
  border-color: rgb(204, 165, 214) !important;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.2) !important;
}

.footer-section {
  display: flex;
  /* justify-content: space-between; */
  margin: 0 auto 20px auto;
  padding: 30px 0;
  border-top: 1px solid #debeff;
}

.footer-section h4 {
  margin-top: 5px;
  font-size: 1.6rem;
  font-family: "KOTRA_SONGEULSSI";
}

.footer-section span {
  font-size: 1.2rem;
}

.footer-section h5 {
  margin: 10px 0;
  padding-left: 5px;
  font-size: 1rem;
}

.footer-section a {
  display: block;
  padding: 5px 0 5px 5px;
  font-size: 0.8rem;
  text-decoration: none !important;
}

.footer-section a:hover,
.footer-section a:focus {
  background-color: #f7f7f7;
}

.footer-header,
.footer-1,
.footer-2,
.footer-3,
.footer-4 {
  padding: 0 !important;
}

.footer-box {
  display: flex;
  padding: 0 !important;
}

.slider-background {
  margin: 30px 0 115px 0;
  padding: 0 0 22.5% 0 !important;
  width: 100%;
  height: 0;
  background-color: #DEBEFF;
}

.slider-box {
  position: relative;
  top: 30px;
  margin: 0 auto;
  padding: 0 !important;
}

.img-slider {
  position: relative;
  width: 100%;
  height: 344px;
  margin: 10px;
  padding: 0 !important;
  background: rgb(87, 82, 82, 0);
}

.img-slider .img-slide {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 0 !important;
  clip-path: circle(0% at 0 50%);
  z-index: 1;
}

.img-slider .img-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .img-slide img {
  z-index: 1;
  width: 100%;
  height: auto !important;
  border-radius: 5px;
}

.img-slider .img-slide .info {
  padding: 0 20px 0 0 !important;
}

.img-slider .img-slide .info h2 {
  font-size: 2rem;
}

.img-slider .navigation {
  z-index: 2;
  position: relative;
  top: 70%;
  left: 75%;
  display: flex;
  /* bottom: 50px;
  right: 10px;
  transform: translateX(-50%); */
}

.img-slider .navigation .slide-btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .slide-btn.active {
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.service-list-section {
  margin: 0 auto 85px auto;
  padding: 0 !important;
}

.service-list-section h4 {
  margin-bottom: 80px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "GmarketSansTTFLight";
}

.service-list-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}

.service-card {
  border: none !important;
}

.service-card .card-img-top {
  width: 100%;
  height: 70%;
  margin-bottom: 12px;
  overflow: hidden;
}

.service-card .card-img-top img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.service-card .card-img-top img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.service-card h5 {
  display: flex;
  align-items: center;
}

.service-card h5 a {
  font-size: 0.95rem;
  font-weight: 400;
  color: #000;
}

.service-card .service-intro {
  font-size: 0.8rem;
}

.service-card span {
  font-size: 0.8rem;
}

.service-card .star {
  position: relative;
  bottom: 2px;
}

.service-card .fa-star {
  font-size: 0.8rem;
  color: #ffcd3c;
}

.service-card .fa-heart {
  color: black
}

.promotion-section {
  margin: 0 auto 80px auto;
  width: 100%;
  height: 30%;
}

.promotion-section img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .img-slider .navigation {
    left: 70%;
  }

}

@media screen and (max-width: 992px) {
  html {
    font-size: 11px;
  }

  .footer-section {
    flex-direction: column;
  }

  .footer-section h5,
  .footer-section a {
    padding-left: 0;
  }

  .footer-header {
    margin-bottom: 10px;
  }

  .footer-1,
  .footer-2 {
    margin-bottom: 10px;
  }

  .main-carousel-control {
    width: 50px !important;
    height: 50px;
  }
}

/* @media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .slide-btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .slide-btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
} */

.service-container {
  width: 35vw;
  font-family: "GmarketSansTTFLight";
  max-height: fit-content;
}

/* .nav-link: {
  background-color: aquamarine;
} */
.service-name {
  font-size: 5rem;
}

.service-intro {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.service-content {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.service-box {
  word-break: break-all;
}

.img-container {
  width: 60vw;
  height: 40vh;
}

.main-img-container {
  width: 35vw;
}

.img-sub-container {
  width: 25vw;
  height: auto;
}

.sub-img img {
  width: 100%;
  height: 100%;
}

.sub-img div {
  width: 49.4%;
}

.sub-img {
  padding-left: 15px;
  height: 20vh;
}

.second-img {
  width: 100%;
  height: 20vh;
  padding: 0px 0px 15px 15px;
}

.main-img {
  width: 100%;
  height: 40vh;
}

.fixing-box {
  font-family: "KOTRA_SONGEULSSI";
  /* border: 1px solid rgb(215, 215, 215); */
  width: 23.8vw;
  height: auto;
  position: fixed;
  top: 50%;
  right: 20.2%;
  padding: 10px 20px;
  /* min-width: fit-content; */
}

.footer-1,
.footer-2 {
  margin-bottom: 10px;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 39vh;
}

.keywords {
  margin: 10px 0px;
}

.keywords div {
  display: inline;
}

.fix-link {
  text-align: right;
}

.tab-title {
  font-family: "KOTRA_SONGEULSSI";
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.tab-content {
  padding-left: 15px;
  font-size: 1.1rem;
}

.review-img {
  margin-right: 20px;
}

.review-img img {
  width: 100%;
  height: 100%;
}

.review-content {
  /* display: inilne; */
}

.content-block {
  /* display: flex;
  justify-content: flex-start; */
  word-break: break-all;
}

.review-count,
.review-date {}

.review-count {
  padding-top: 15px;
}

.forms {
  margin: 3rem auto;
  font-family: "GmarketSansTTFMedium";
}

.form-logo {
  margin-bottom: 3rem;
  font-family: "GmarketSansTTFMedium";
  font-size: 1.6rem;
}

.social-login1,
.social-login2,
.social-login3 {
  display: block;
  height: 5vh;
  line-height: 5vh;
  margin-top: 15px;
}

.social-login3 {
  background-color: #fee500;
  border-radius: 10px;
  color: #191919;
}

.social-login2 {
  background-color: #03c75a;
  border-radius: 10px;
  color: #ffffff;
}

.social-login1 {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
}

@media screen and (max-width: 600px) {

  /* board */
  .community-navbar {
    border: 2px solid #debeff;
    border-radius: 15px;
    margin: 25px auto;
    font-size: 1.2rem;
    padding: 13px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .community-navbar span {
    padding: 0px;
  }

  .board-second-info span {
    padding: 0px;
  }

  .community-board {
    margin: 70px auto;
  }

  .community-container {
    font-family: "GmarketSansTTFLight";
  }

  .board-header-title {
    font-size: 24px;
  }

  .board-header-count {
    font-size: 14px;
  }

  .board-content {
    border-bottom: 1px solid #9a30ae;
    border-top: 1px solid #9a30ae;
  }

  .board-content p {
    padding: 0px;
    margin: 0px;
  }

  .board-content-container p a {
    font-family: "GmarketSansTTFMedium";
  }

  .board-title {
    border-bottom: 1px solid #cdcdcd;
    height: 7vh;
    display: flex;
    align-items: center;
  }

  .board-title p {
    word-break: break-all;
  }

  .board-title div {
    display: flex;
  }

  .board-title div p {
    align-items: center;
    text-align: center;
  }

  .board-content-container {
    border-bottom: 1px solid #cdcdcd;
    height: auto;
    padding: 25px 15px;
    display: flex;
    align-items: center;
  }

  .board-content-container p {
    word-break: break-all;
  }

  .board-content-container div p {
    text-align: center;
  }

  .board-submit {
    background: #9a30ae;
    padding: 7px 30px;
  }

  .board-paginator {
    text-align: center;
  }

  .board-info {
    display: flex;
  }

  a:hover {
    text-decoration: none !important;
  }

  .page-item {
    display: inline;
  }

  .board-paginator a {
    padding: 0px 5px;
  }

  .board-menu a {
    color: #000;
  }

  .board-paginator a {
    color: #000;
  }

  .board-menu a.active {
    color: #9a30ae;
  }

  .board-menu a:hover {
    color: #9a30ae;
    transition: 0.5s;
  }

  .board-paginator a.active {
    color: #9a30ae;
  }

  .board-paginator a:hover {
    color: #9a30ae;
    transition: 0.5s;
  }

  .detail-first-box,
  .detail-second-box {
    display: flex;
    justify-content: space-between;
  }

  .detail-profile {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }

  .detail-box-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detail-box-content {
    min-height: 30vh;
  }

  .detail-first-box {
    display: flex;
    align-items: center;
  }

  .detail-board-title {
    font-size: 1.5rem;
  }

  .detail-board-date {
    font-size: 1.1rem;
  }

  .detail-box-content {
    font-size: 1.1rem;
  }

  .detail-box-likes {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  .comment-box {
    display: flex;
    justify-content: space-between;
  }

  .comment-box textarea {
    border: 1px solid rgb(205, 205, 205);
  }

  .comment-text {
    display: flex;
    justify-content: space-between;
  }

  .ck-editor__editable {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .board-title {
    display: none;
  }

  .board-info {
    display: none;
  }

  .board-second-user {
    display: flex;
  }

  .board-content-container {
    padding: 10px 0px;
  }

  .board-content {
    font-size: 0.8rem;
  }

  .board-paginator {
    font-size: 0.9rem;
  }

  .board-menu {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .board-info {
    display: flex;
    align-items: center;
  }

  .board-second-info {
    display: none;
  }

  .board-second-user {
    display: none;
  }

  .board-menu {
    display: flex;
    justify-content: flex-start;
  }

  .board-menu span {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 576px) {
  .board-header-title {
    font-size: 1.2rem;
  }

  .navbar-toggler {
    width: 45px;
  }

  .navbar-toggler-icon {
    font-size: 0.8rem;
  }

  .footer-box {
    flex-direction: column;
  }

  .footer-header h4 {
    font-size: 1.6rem;
  }

  .footer-header span {
    font-size: 1.2rem;
  }

  .footer-section h5 {
    font-size: 1.2rem;
  }

  .footer-section a {
    font-size: 1rem;
  }

  .service-name {
    font-size: 2.3rem;
    font-weight: bolder;
  }

  .fix-name {
    font-size: 2rem;
  }

  .fix-intro {
    font-size: 1.3rem;
  }

  .board-submit {
    font-size: 0.7rem;
    width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .service-container {
    width: 100%;
  }

  .fixing-box {
    width: 90vw;
    display: block;
    position: static;
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-img {
    display: none;
  }

  .main-img-container {
    width: 90%;
    padding-bottom: 15px;
  }

  .img-container {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .img-sub-container {
    height: auto;
  }

  .img-sub-container div,
  .sub-img div {
    /* width: 90vw;
    height: auto; */
    display: none;
  }

  .sub-img {
    height: auto;
  }

  .service-content {
    font-size: 1rem;
  }


  .review-img {
    width: 150px;
    height: 150px;
  }

  .service-container {
    width: 90vw;
  }

  .community-navbar {
    font-size: 1rem;
  }

  .board-content {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 931px) and (max-width: 1150px) {
  .service-content {
    font-size: 1.1rem;
  }

  .img-container {
    width: 60vw;
  }

  .img-sub-container {
    height: 0px;
    width: 0px;
  }

  .img-sub-container div,
  .sub-img div {
    /* width: 90vw;
    height: auto; */
    display: none;
  }

  .sub-img {
    height: auto;
  }

  .main-img-container {
    width: 100%;
  }

  .main-img {
    display: none;
  }

  .review-img {
    width: 180px;
    height: 180px;
  }

  .board-content {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1150px) {
  .review-img {
    width: 15vw;
    height: 20vh;
  }
}

/* board */
.community-navbar {
  border: 2px solid #debeff;
  border-radius: 15px;
  margin: 25px auto;
  font-size: 1.2rem;
  padding: 13px 0;
}

.community-board {
  margin: 70px auto;
}

.community-container {
  font-family: "GmarketSansTTFLight";
}

.header-title {
  font-size: 24px;
}

.header-count {
  font-size: 14px;
}

.board-content {
  border-bottom: 1px solid #9a30ae;
  border-top: 1px solid #9a30ae;
}

.board-content p {
  padding: 0px;
  margin: 0px;
}

.board-title {
  border-bottom: 1px solid #cdcdcd;
  height: 7vh;
  display: flex;
}

.board-title p {
  word-break: break-all;
}

.board-title div p {
  text-align: center;
}

.board-content-container {
  border-bottom: 1px solid #cdcdcd;
  height: 7vh;
  display: flex;
}

.board-content-container p {
  word-break: break-all;
}

.board-content-container div p {
  text-align: center;
}

.board-button {
  background: #9a30ae;
  padding: 7px 30px;
}

.board-paginator {
  text-align: center;
}

.board-info {
  display: flex;
}

a:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 9.5px;
  }

  .board-title {
    display: none;
  }

  /* .board-info {
    display: none;
  } */
  .board-content-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .board-info {
    display: flex;
    justify-content: space-around;
  }

  .main-carousel-control {
    width: 30px !important;
    height: 30px;
  }

  .main-carousel-control>.carousel-control-prev-icon {
    width: 10px !important;
    height: 10px !important;
  }

  .main-carousel-control>.carousel-control-next-icon {
    width: 10px !important;
    height: 10px !important;
  }
}

@media screen and (min-width: 768px) {

  .board-info {
    display: flex;
    align-items: center;
  }

  .board-content-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {

  html {
    font-size: 8px;
  }

  .navbar-toggler {
    width: 45px;
  }

  .footer-box {
    flex-direction: column;
  }

}

@media screen and (max-width: 470px) {
  .community-navbar {
    font-size: 0.8rem;
  }

  .board-header-title {
    font-size: 1rem;
  }

  .header-title {
    font-size: 1.2rem;
  }

  .board-header-count {
    font-size: 0.8rem;
  }

  .board-content {
    font-size: 0.6rem;
  }

  .board-paginator {
    font-size: 0.7rem;
  }
}