.service-container,
.page-menu div {
  border: 1px solid rgb(152, 152, 152);
}
.service-container {
  width: 60vw;
  height: auto;
}
.page-menu div {
  width: 100vw;
  text-align: center;
  height: 6vh;
  line-height: 6vh;
  font-size: 2em;
}
.service-name {
  font-size: 5em;
}
.img-container {
  width: 60vw;
}
.fixing-box {
  border: 1px solid rgb(140, 140, 140);
  width: 200px;
  height: 180px;
  position: fixed;
  top: 30%;
  right: 2%;
  padding: 10px 20px;
}
.service-content,
.service-intro {
  /* font-size: 1.5em; */
@import url('./reset.css');
@import url('./font.css');

/* .top-header {
  margin: 1rem 0 0 1rem;
} */

.top-header-title {
  font-family: 'KOTRA_SONGEULSSI';
  font-size: 2rem;
}

.top-header-links {
  font-family: 'GmarketSansTTFLight';
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .top-header-title {
    font-size: 1.5rem;
  }
  .top-header-links, .under-nav {
    font-size: 0.8rem;
  }
}