<div class="top-header navbar navbar-expand-lg mt-4 navbar-light container">
  <h1 class="top-header-title">
    구독사피엔스
  </h1>
  <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="top-header-links collapse navbar-collapse justify-content-end " id="navbarCollapse">
    <a class="d-block nav-link text-dark" href="">홈</a><!-- 홈 -->
    <a class="d-block nav-link hover text-dark" href="">커뮤니티</a><!-- 커뮤니티 -->
    <div class="navbar-brand d-flex justify-content-between ">
      <a class="nav-link hover text-dark under-nav" href="">나에게 맞는 서비스찾기</a><!-- 나에게맞는서비스찾기 -->
      <a class="btn btn-outline-dark rounded-pill col-3 d-flex flex-column justify-content-center align-items-center ml-3" href="">로그인</a><!-- 로그인 -->
    </div>
  </div>
</div>