{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="service-detail-container mt-3">
        <div class="img-container d-flex justify-content-around">
            <div class="main-img-container">
                <img src="{{ service.img1.url }}" class="main-img" />
                <!-- carousel -->
                <div id="carouselControls" class="detail-carousel carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ service.img1.url }}" />
                        </div>
                        <div class="carousel-item">
                            <img src="{{ service.img2.url }}" />
                        </div>
                        <div class="carousel-item">
                            <img src="{{ service.img3.url }}" />
                        </div>
                        <div class="carousel-item">
                            <img src="{{ service.img4.url }}" />
                        </div>
                    </div>
                    <a href="#carouselControls" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a href="#carouselControls" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- carousel end -->
            </div>
            <div class="img-sub-container d-flex flex-column">
                <div>
                    <img src="{{ service.img2.url }}" class="second-img" />
                </div>
                <div class="sub-img d-flex justify-content-around">
                    <div>
                        <img src="{{ service.img3.url }}" />
                    </div>
                    <div>
                        <img src="{{ service.img4.url }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="service-container">
            <div class="service-box">
                <div class="service-name">{{service.name}}</div>
                <div class="service-intro">{{service.intro}}</div>
                <div class="service-content">{{service.content}}</div>
            </div>
        <div class="fixing-box">
            <div class="keywords">
                {% for tag in service.tags.all %}
                <div><a href="{% url 'services:same_tag_list' tag.name %}">#{{ tag.name }}</a></div>
                {% endfor %}
            </div>
            <div class="fix-name">{{service.name}}</div>
            <!-- <div class="fix-intro">{{service.intro}}</div>  -->
            <!-- <div class="service-content">{{service.content}}</div> -->
            <div class="service-price">{{service.price}}원 (한달 기준)</div>
            {% if avg_of_reviews %}
            <div> 평균 <i class="fas fa-star"></i>{{ avg_of_reviews|floatformat:1 }} ({{service.get_review_count}}명) </div>
            {% else %}
            <div> 아직 작성한 리뷰가 없습니다. </div>
            {% endif %}
            <div class="dib__counts">찜: {{ number_of_dibs }}</div>
            <div class="fix-link">
                {% if service.is_dib %}
                <div class="dib" onclick="onClickDib({{ service.id }})">
                    <i class="fas fa-heart"></i> 찜</div>
                {% else %}
                <div class="dib" onclick="onClickDib({{ service.id }})">
                    <i class="far fa-heart"></i> 찜</div>
                {% endif %}
                {% comment %} <a href="{% url 'likes:likes_dibs' service.id %}">찜({{ number_of_dibs }}개)</a> /
                {% endcomment %}
                <a href="{{service.link}}">바로가기</a>
                <a @click="onClickFacebook">
                    페이스북 공유하기
                </a>
            </div>
        </div>
            <div class="tab-content" id="pills-tabContent">
                <hr>
                <div class="review-tab">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="tab-title">리뷰</span>
                        <span class="review-count ">{{service.get_review_count}}개</span>
                    </div>
                        {% for review in page_obj %}
                        <!-- <div class="review-container review-id-{{ review.id }}">
                            <div class="title-block mb-3 d-flex justify-content-between">
                                <span class="">{{review.user}}</span>
                                <span class="review-date">{{review.updated_at| date:"Y/m/d"}}</span>
                            </div>
                            <div class="content-block">
                                {% if review.photo %}
                                <div class="review-img">
                                    <img src="{{ review.photo.url }}" />
                                </div>
                                {% endif %}
                                <div class="review-content">
                                    <div class="">{{review.title}}</div>
                                    <div class="">{{review.content}}</div>
                                    <div>
                                        {% comment %} <a href="{% url 'likes:likes_helps' review.id %}">도움이 돼요!</a>
                                        {% endcomment %}
                                        {% if review.is_help %}
                                        <div class="btn help" onclick="onClickHelp({{ review.id }})">이미 눌렀어요</div>
                                        {% else %}
                                        <div class="btn help" onclick="onClickHelp({{ review.id }})">도움이 돼요</div>
                                        {% endif %}
                                        <span class="help__counts">{{ review.reviews_help.all.count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!--  -->
                                    <div class="my-review-box col-12">
                                        {% if review.photo %}
                                        <a href="{% url 'services:services_detail' pk=review.target.id %}" class="my-review-img">
                                            <img src="{{ review.photo.url }}" />
                                        </a>
                                        <div class="my-review-second-section col-9">
                                            {% else %}
                                            <div class="my-review-second-section col-12">
                                                {% endif %}
                                                <div class="my-review-content-container">
                                                    <div class="my-review-content">
                                                        <div class="my-review-target ">
                                                            <a href="{% url 'services:services_detail' pk=review.target.id %}"
                                                                style="color: #585858;font-weight: 400;" class="">{{review.user}}</a>
                                                            <span class="">| {{review.period}}개월 사용</span>
                                                        </div>
                                                        <!-- <div class="my-review-score">
                                                                    <span>{{review.updated_at| date:"Y/m/d"}} | {{review.period}}개월 사용</span>
                                                                </div> -->
                                                        <span class="star" style="min-width:fit-content">
                                                            <i class="fas fa-star"></i>
                                                            <span>{{review.score}}</span>
                                                        </span>
                                                    </div>
                                                    <span class="my-review-date" style="font-size: 0.9rem;
                                                                    color: #808080;">{{review.period}}개월 사용</span>
                                                    <span class="my-review-title">{{review.title}}</span>
                                                    <span class="my-review-content">{{review.content}}</span>
                                                </div>
                                                <div class="my-review-likes">
                                                    <span><i class="far fa-thumbs-up" style="color: #585858;"></i> {{review.reviews_help.count}}개</span>
                                                </div>
                                            </div>
                                        </div>
                        {% endfor %}

                        {% if page_obj.has_previous %}
                        <a href="?page=1">처음으로</a>
                        <a href="?page={{ page_obj.previous_page_number }}">이전으로</a>
                        {% endif %}
                        <div class="d-flex justify-content-center">
                            <span class="current">
                                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                            </span>
                        </div>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">다음으로</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">맨뒤로</a>
                        {% endif %}


                        <hr>
                        <span class="tab-title">리뷰 쓰기</span>
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'reviews:submit_ajax' service.id %}" enctype="multipart/form-data"
                            id="review_create_form" method="POST">
                            {% csrf_token %}
                            <div class="review-form-container">
                                <div class="review-form-content">
                                    <div style="display: flex; justify-content: space-between;">
                                        <span>{{ form.score }}</span>
                                        <div class="period">
                                            <div class="range">
                                                <div class="sliderValue">
                                                    <span class="period_select">24</span>
                                                </div>
                                                <div class="field">
                                                    <div class="value left">0</div>
                                                    <input class="period_choice" type="range" name="period" min="0" max="24" value="12" steps="1">
                                                    <div class="value right">24개월 이상</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="review-content-title">{{ form.title }}</span>
                                    <div>
                                        <textarea class="content_textarea" rows="3" name="content" placeholder='15자 이상 입력해주세요'
                                            onkeyup="countLetters();"></textarea>
                                            <div style="display: flex;justify-content: space-between;">
                                                <span>{{form.photo}}</span>
                                                <span class="content_count">0</span>
                                            </div>
                                            
                                    </div>

                                </div>
                            </div>


                            <input type="submit" onclick="" value="리뷰 등록"/>
                        </form>
                        {% endif %}
                    </div>
            </div>
            <!-- tabend -->
        </div>
    </div>
</div>
<script>
    const slideValue = document.querySelector(".period_select");
    const inputSlider = document.querySelector(".period_choice");
    inputSlider.oninput = (() => {
        let value = inputSlider.value;
        slideValue.textContent = value;
        slideValue.style.left = value + "%";
        slideValue.classList.add("show");
    });
    inputSlider.onblur = (() => {
        slideValue.classList.remove("show");
    });

    const textarea = document.querySelector('.content_textarea');
    const count = document.querySelector('.content_count');

    function countLetters() {
        const text = textarea.value;
        const textLength = textarea.value.length;
        count.innerText = `${textLength}`;
    }
</script>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const onClickSubmit=async(service_id)=>{  
        const url='/reviews/submit_ajax/';
        // const title=document.querySelector(`.review-title`).value
        // const content=document.querySelector(`.review-content`).value
        // const score=document.querySelector(`.review-score`).value
        // const period=document.querySelector(`.review-period`).value
        // const photo=document.querySelector(`.review-photo`).value.replace('C:\\fakepath\\','');
        // console.log(photo)
        const {data}=await axios.post(url,{
            service_id
        });
        submitHandleResponse(data.service_id, data.review_id, data.review_title,
        data.review_content,data.review_score,data.review_period,data.review_updated_at,data.review_photo);
    };
    const submitHandleResponse=(service_id, review_id,review_title,review_content,
    review_score,review_period,review_updated_at,review_photo)=>{
            const element=document.querySelector(`.review-tab`);
            element.innerHTML+=`
            <div class="review-container">
            <div class="title-block mb-3">
                <span class="">${review_id}🌱</span>
                <span class="review-date">${review_updated_at}</span>
            </div>
            <div class="content-block">
                {% if review_photo %}
                <img src="{{ review_photo }}" class="review-img"/>
                {% endif %}
                <span class="">${review_title}</span>
                <span class="">>${review_content}</span>
            </div>
            </div>`;
            // const input=document.querySelector(`.post_${post_id} .submit-text`);
            // input.value=null;
    };
</script> -->

<script>
    // <!--찜 기능 ajax 
    // -->
    const
        requestDib =
            new
                XMLHttpRequest();
    const
        onClickDib =
            (id) => {
                requestDib.open('POST',
                    '/likes/dibs_ajax/',
                    true);
                requestDib.setRequestHeader(
                    'Content-type',
                    'application/x-www-form-urlencoded'
                );
                requestDib.send(JSON.stringify({
                    id: id
                }));
            };
    const
        DibHandleResponse =
            () => {
                if (requestDib.status < 400) {
                    const {
                        id
                    } = JSON.parse(requestDib.response);
                    const element = document.querySelector(`.fix-link .dib`);
                    if (element.innerHTML == `<i class="fas fa-heart"></i> 찜`) {
                        element.innerHTML = `<i class="far fa-heart"></i> 찜`;   //안찜하기
                        const dibsCounts = document.querySelector(`.dib__counts`);
                        const dibsCountsHTML = dibsCounts.innerHTML;
                        const [dibString, num] = dibsCountsHTML.split(' ');
                        const count = Number(num) - 1;
                        dibsCounts.innerHTML = `${dibString} ${count}`;

                    } else {
                        element.innerHTML = `<i class="fas fa-heart"></i> 찜`;
                        const dibsCounts = document.querySelector(`.dib__counts`);
                        const dibsCountsHTML = dibsCounts.innerHTML;
                        const [dibString, num] = dibsCountsHTML.split(' ');
                        const count = Number(num) + 1;
                        dibsCounts.innerHTML = `${dibString} ${count}`;

                    }

                }
            }
    requestDib.onreadystatechange = () => {
        if (requestDib.readyState === XMLHttpRequest.DONE) {
            DibHandleResponse();
        }
    }

    // <!--도움이 돼요 ajax --> 
    const requestHelp = new XMLHttpRequest();

    const onClickHelp = (id) => {

        requestHelp.open(' POST', '/likes/help_ajax/', true);
        requestHelp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        requestHelp.send(JSON.stringify({
            id: id
        }));
    };
    const
        HelpHandleResponse = () => {
            if (requestHelp.status < 400) {
                const {
                    id
                } = JSON.parse(requestHelp.response)
                const element = document.querySelector(`.review-id-${id} .help`);
                if (element.innerHTML == `도움이 돼요`) {
                    element.innerHTML = `이미 눌렀어요`
                    const dibsCounts = document.querySelector(`.review-id-${id} .help__counts`);
                    const
                        num = dibsCounts.innerHTML;
                    const count = Number(num) + 1;
                    dibsCounts.innerHTML = `${count}`;
                } else {
                    element.innerHTML = `도움이 돼요`;
                    const dibsCounts = document.querySelector(`.review-id-${id} .help__counts`);
                    const
                        num = dibsCounts.innerHTML;
                    const count = Number(num) - 1;
                    dibsCounts.innerHTML = `${count}`;
                }
            }
        }
    requestHelp.onreadystatechange = () => {
        if (requestHelp.readyState === XMLHttpRequest.DONE) {
            HelpHandleResponse();
        }
    }
</script>

{% endblock content %}