{% extends 'base.html' %}
{% load static %}
{% load taggit_templatetags2_tags %}

{% block content %}
<!--- 대분류 카테고리 표기-->
<nav class="main-navbar navbar navbar-expand-lg navbar-light col-10 col-lg-7">
    <ul class="navbar-nav mr-auto d-flex">
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'services:services_list' %}"
                style="padding-left: 0 !important;">전체보기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'services:category_lifestyle' %}" class="text-dark">라이프 스타일</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'services:category_food' %}" class="text-dark">음식</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'services:category_content' %}" class="text-dark">컨텐츠</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'services:category_newsletter' %}">뉴스레터</a>
        </li>
    </ul>
    <form method="GET" action="{% url 'services:search' %}" class="d-flex justify-content-end" style="padding: 0" >
        {% csrf_token %}
        <div class="main-search">
            <div class="main-search-icon" >
                <i class="search1 fa fa-search"></i>
            </div>
            <div class="main-search-input">
                <input type="text" placeholder="서비스 검색" id="main-search-input" name='search_key' value="{{ search_key }}">
            </div>
        </div>
    </form>
</nav>




<div class="service-list-main col-10 col-lg-7">
    <!--- 세부 카테고리 표기-->
    <div class="service-second-category col-3 col-sm-2">
        <ul>
            <li>
                <a href="{% url 'services:services_list' %}" class="weight">‣ 전체보기</a>
                </il>
                {% for category in categories %}
                <li>
                <a href="{% url 'services:category_list' category.slug %}" class="weight">‣ {{ category.name }}</a>
                {% if category_slug == category.slug  %}
                <ul>
                    {% if sub_category_list %}
                    {% for sub_category in sub_category_list  %}
                    <li class="list-service-underline"><a style="padding: 0.7rem" href="{% url 'services:sub_category_list' category.slug sub_category.slug %}">{{ sub_category.name }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
                {% endif %}
                </il>
                {% endfor %}
        </ul>
    </div>

    {% comment %} 본문 내용 서비스 나열 {% endcomment %}
    
    <div class="col-9 col-sm-10" style="padding: 0;">
        <div class="service-list-img">
            {% if category_slug == food  %}
            <img src="{% static 'assets/service-list-food.png' %}" alt="">
            {% elif category_slug == lifestyle %}
            <img src="{% static 'assets/service-list-lifestyle.png' %}" alt="">
            {% elif category_slug == content %}
            <img src="{% static 'assets/service-list-food.png' %}" alt="">
            {% else %}
            <img src="{% static 'assets/service-list-food.png' %}" alt="">
            {% endif %}
        </div>
        <div class="service-list-select">
            <select id="sort-select" onchange="location = this.value;">
                <option class="sort-date" value="?sort=date">최신순</option>
                <option class="sort-dib" value="?sort=dib">찜 많은 순</option>
                <option class="sort-score" value="?sort=score">별점순</option>
            </select>
        </div>
        <div class="main-service-list-box real">
            {% if services %}
            {% for service in services  %}
            <div class="service-card card service-id-{{ service.id }} col-12 col-sm-6 col-md-3">
                <div class='card-img-top'>
                    {% if service.img1 %}
                    <a href="{% url 'services:services_detail' pk=service.pk %}">
                        <img src="{{ service.img1.url }}" />
                    </a>
                    {% endif %}
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <h5><a class="service-card-content" href="{% url 'services:services_detail' pk=service.pk %}">{{ service.name }}</a></h5>
                        <span class="service-card-content star"><i
                                class="service-card-content fas fa-star"></i>{{ service.avg_reviews |floatformat:1 }}({{service.get_review_count}})</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="service-card-content service-intro">{{ service.intro }}</span>
                        <div class="d-flex">
                            {% if service.is_dib %}
                            <div class="service-card-content dib" onclick="onClickDib({{ service.id }})" style="margin-right: 0.1rem;"><i class="fas fa-heart"></i></div>
                            {% else %}
                            <div class="service-card-content dib" onclick="onClickDib({{ service.id }})" style="margin-right: 0.1rem;"><i class="far fa-heart"></i></div>
                            {% endif %}
                            <div class="service-card-content dib__counts">{{ service.dib_set.all.count }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class="not-service">
                <span>조건에 맞는 구독 서비스가 없습니다.</span>
            </div>

            {% endif %}

        </div>
        {% comment %} 하단 페이지 넘기기 기능 {% endcomment %}
        <div class="board-paginator">
            {% if services.has_previous %}
            <a href="?page=1" class="text-dark">처음으로</a>
            <a href="?page={{ services.previous_page_number }}" class="text-dark">&lt&lt</a>
            {% endif %}

            {% for page_number in services.paginator.page_range %}
            {% if page_number >= services.number|add:-4 and page_number <= services.number|add:4 %}
            {% if page_number is services.number %}
            <li class="page-item" aria-current="page">
                <a class="text-dark active" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="text-dark" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if services.has_next %}
            <!-- <li>...{{ services.paginator.num_pages }}</li> -->
            <a href="?page={{ services.next_page_number }}" class="text-dark">&gt&gt</a>
            <a href="?page={{ services.paginator.num_pages }}" class="text-dark">맨뒤로</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const requestDib = new XMLHttpRequest();

    const onClickDib = (id) => {

        requestDib.open('POST', '/likes/dibs_ajax/', true);
        requestDib.setRequestHeader(
            'Content-type',
            'application/x-www-form-urlencoded'
        );
        requestDib.send(JSON.stringify({
            id: id
        }));
    };


    const DibHandleResponse = () => {
        if (requestDib.status < 400) {
            const {
                id
            } = JSON.parse(requestDib.response)
            const element = document.querySelector(`.service-id-${id} .dib`);

            if (element.innerHTML == `<i class="fas fa-heart"></i>`) {
                element.innerHTML = `<i class="far fa-heart"></i>`;
                const dibsCounts = document.querySelector(`.service-id-${id} .dib__counts`);
                const dibsCountsHTML = dibsCounts.innerHTML;
                const count = Number(dibsCountsHTML) - 1;
                dibsCounts.innerHTML = `${count}`;

            } else {
                element.innerHTML = `<i class="fas fa-heart"></i>`;
                const dibsCounts = document.querySelector(`.service-id-${id} .dib__counts`);
                const dibsCountsHTML = dibsCounts.innerHTML;
                const count = Number(dibsCountsHTML) + 1;
                dibsCounts.innerHTML = `${count}`;

            }

        }
    }
    requestDib.onreadystatechange = () => {
        if (requestDib.readyState === XMLHttpRequest.DONE) {
            DibHandleResponse();
        }
    }

    // 정렬창 고정
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    // 정렬방식 셀렉트 박스 유지
    $(document).ready(function () {
        var sort = getUrlParameter('sort');
        if (sort == 'dib') {
            $('.sort-dib').prop('selected', 'selected')
        } else if (sort == 'score') {
            $('.sort-score').prop('selected', 'selected')
        }else if(sort == 'date'){
            $('.sort-date').prop('selected', 'selected')
        }
    });

    const pageLocation = location.href;
    const pageItem = document.querySelectorAll('.board-paginator a');
    const pageLength = pageItem.length
    for (let i = 0; i < pageLength; i++) {
        if (pageItem[i].href === pageLocation) {
            pageItem[i].className = "active"
        }
    }

</script>

<script>
    let search = document.querySelector(".search1");

    search.onclick = function () {
        document.querySelector(".main-search").classList.toggle('active');
    }
    
</script>

{% endblock %}