{% extends 'base.html' %}
{% load taggit_templatetags2_tags %}

{% block content %}
<!--- 대분류 카테고리 표기-->
<div class="navbar">
    <a href="{% url 'services:services_list' %}">전체보기</a><!-- 전체보기 -->
    {% for category in categories %}
    <a href="{% url 'services:category_list' category.slug %}">{{ category.name }}</a>
    {{ category.slug }}
    {% endfor %}
    {% comment %} <a href="{% url 'services:category_list_str' 'contents' %}">컨텐츠</a> {% endcomment %}
    

    <form method="GET" action="{% url 'services:search' %}">
        {% csrf_token %}
        <div class="main-search">
            <div class="main-search-icon">
                <i class="search fa fa-search"></i>
            </div>
            <div class="main-search-input">
                <input type="text" placeholder="서비스 검색" id="main-search-input" name='search_key'
                    value="{{ search_key }}">
            </div>
        </div>
    </form>
</div>



<!--- 세부 카테고리 표기-->
<div>
    <ul>
        <li>
            <a href="{% url 'services:services_list' %}" style="font-weight: 800;">전체보기</a><!-- 전체보기 -->
            </il>
            {% for category in categories %}
        <li>
            <a href="{% url 'services:category_list' category.slug %}" style="font-weight: 800;">{{ category.name }}</a>
            {% if category_slug == category.slug  %}
            <ul>
                {% if sub_category_list %}
                {% for sub_category in sub_category_list  %}
                <li>
                    <a
                        href="{% url 'services:sub_category_list' category.slug sub_category.slug %}">{{ sub_category.name }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            {% endif %}
            </il>
            {% endfor %}
    </ul>
</div>
<select id="sort-select" onchange="location = this.value;">
  <option class="sort-date" value="/">최신순</option>
  <option class="sort-dib" value="?sort=dib">찜 많은 순</option>
  <option class="sort-score" value="?sort=score">별점순</option>
</select>
{% comment %} 본문 내용 서비스 나열 {% endcomment %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="flex row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if services %}
            {% for service in services  %}
            <div class="col">
                <div class="card service-id-{{ service.id }}">
                    <div class='card-img-top'>
                    {% if service.img1 %}
                    <a href="{% url 'services:services_detail' pk=service.pk %}"><img src="{{ service.img1.url }}" width='250px' /></a>
                    {% endif %}
                    </div>
                    <div class='card-body'>
                        {{ service.name }}
                        {{ service.intro }}
                        <div> 평균 ⭐️: {{ service.avg_reviews|floatformat:1 }} {{service.get_review_count}} 명</div>
                        <div class="dib__counts">찜: {{ service.dib_set.all.count }}</div>
                        {% if service.is_dib %}
                            <div class="btn btn-primary dib" onclick="onClickDib({{ service.id }})">안찜하기</div>
                        {% else %}
                            <div class="btn btn-primary dib" onclick="onClickDib({{ service.id }})">찜하기</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div>
                <h5>조건에 맞는 구독 서비스가 없습니다.</h5> 
            </div>

                {% endif %}

        </div>
    </div>
</div>

<br />

{% comment %} 하단 페이지 넘기기 기능 {% endcomment %}
<div>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if services.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ services.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in services.paginator.page_range %}
        {% if page_number >= services.number|add:-2 and page_number <= services.number|add:2 %}
        {% if page_number == services.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if services.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ services.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
<script>  

        const requestDib = new XMLHttpRequest();

        const onClickDib = (id) => {
            
            requestDib.open('POST','/likes/dibs_ajax/', true);
            requestDib.setRequestHeader(
                'Content-type',
                'application/x-www-form-urlencoded'
            );
            requestDib.send(JSON.stringify({id: id}));
        };


        const DibHandleResponse = () => {
            if (requestDib.status < 400) {
                const {id} = JSON.parse(requestDib.response)
                const element = document.querySelector(`.service-id-${id} .dib`);
                
                if (element.innerHTML == `찜하기`) {
                    element.innerHTML = `안찜하기`;
                    const dibsCounts = document.querySelector(`.service-id-${id} .dib__counts`);
                    const dibsCountsHTML = dibsCounts.innerHTML;
                    const [dibString, num] = dibsCountsHTML.split(' ');
                    const count = Number(num) + 1;
                    dibsCounts.innerHTML = `${dibString} ${count}`;
                    
                }
                else {
                    element.innerHTML = `찜하기`;
                    const dibsCounts = document.querySelector(`.service-id-${id} .dib__counts`);
                    const dibsCountsHTML = dibsCounts.innerHTML;
                    const [dibString, num] = dibsCountsHTML.split(' ');
                    const count = Number(num) - 1;
                    dibsCounts.innerHTML = `${dibString} ${count}`;
                    
                }

            }
        }
        requestDib.onreadystatechange = () => {
            if (requestDib.readyState === XMLHttpRequest.DONE) {
                DibHandleResponse();
            }
        }

<!-- 정렬창 고정 -->
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
// 정렬방식 셀렉트 박스 유지
$(document).ready(function(){
  var sort = getUrlParameter('sort');
  if(sort == 'dib'){
    $('.sort-dibs').prop('selected', 'selected')
  }else if(sort == 'score'){
    $('.sort-score').prop('selected', 'selected')
  }else{
    $('.sort-date').prop('selected', 'selected')
  }
});
</script>  

{% endblock %}