{% extends 'base.html' %}
{% load taggit_templatetags2_tags %}

{% block content %}
{% get_taglist as tags %}

<form action="{% url 'services:services_tags' %}" method='POST'> 
{% csrf_token %}
<div class="album py-5 bg-light">
    <div class="container">
            <div class="flex row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for tag in tags  %}
                <div class="col">
                    <div class='card'>
                        <div>
                            <input type='checkbox' name='selected' value='{{ tag }}'>
                            <label>{{ tag }} </label> 
                        </div>                 
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

<div>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <input type='submit' value='Submit'/>
        </li>
    </ul>
</div>
</form>
{% endblock %}