{% extends 'base.html' %}
{% load taggit_templatetags2_tags %}

{% block content %}
{% get_taglist as tags %}

<style>
    .tag-1 {width: 3em; height: 3em;}
    .tag-2 {width: 4em; height: 4em;}
    .tag-3 {width: 5em; height: 5em;}
    .tag-4 {width: 6em; height: 6em;}
    .tag-5 {width: 7em; height: 7em;}
    .tag-6 {width: 8em; height: 8em;}
</style>

<form action="{% url 'services:services_tags' %}" method='POST'> 
{% csrf_token %}
<div class="album py-5 bg-light">
    <div class="container">
            <div class="flex row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for tag in tags  %}
                <div class="col">
                    <div class='card'>
                        <div class="tag-{{tag.num_times}}" >
                            <input  type='checkbox' name='selected' value='{{ tag }}'>
                            <label>{{ tag.name }} </label> 
                        </div>                 
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

<div>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <input type='submit' value='Submit'/>
        </li>
    </ul>
</div>
</form>
{% endblock %}